body {
    margin: 0;
    padding: 0;
}

.page-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}
#header {
    background-color: aqua;
    height: 100%;
    grid-area: 1 / 2 / 2 / 7;
}

#sidebar {
    background-color: coral;
    width: 250px;
    height: 100vh;
    grid-area: 1 / 1 / 7 / 2;
    display: flex;
    flex-direction: column;
}

    #side-heading-container {
        margin-left: 60px;
        margin-top: -5px;
    }

    #menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 50%;
        justify-content: center;
        margin-left: 20px;
    }

        #navigation-items {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding-top: 80px;
        }

        #admin-items {
            display: flex;
            flex-direction: column;
            gap: 1em;
            margin-top: auto;
            padding-bottom: 80px;
        }

#content {
    background-color: chartreuse;
    /* width: 100%; */
    height: 100%;
    grid-area: 2 / 2 / 7 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#item-container {
    width: 90%;
    height: 90%;
    display: grid;
    border: solid black;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    place-items: center;
}

.menu-item {
    width: 200px;
    height: 200px;
    border: solid 2px black;
}